body {
    font-family: sans-serif;
}

.form-group
{
    margin-bottom: 10px;
}

.form-group input[type=text],
.form-group input[type=email],
.form-group input[type=tel],
.form-group input[type=number],
.form-group input[type=url],
.form-group input[type=date],
.form-group input[type=datetime-local],
.form-group input[type=month],
.form-group input[type=week],
.form-group input[type=time]
{
    display: block;
    height: 26px;
    width: 200px;
    padding-left: 5px;
}
